.input{
    border: 1px solid grey;
    margin-left: 100px;
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom:100px;
    padding-top: 100px;
    background-color: lightgray;

}

